nav{
    display: flex;
   background-color: #fff;
   padding:0 20px;
   height: 50px;
   align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul a{
    padding: 13px;
    text-decoration: none;
    color: #333;
}
nav ul li{
    transition: all 0.3s ease-in-out;
}
nav ul li a:hover{
    font-size: 1.3rem;
    background-color: #fcb212;
    border-radius: 5px;
}
@media (max-width:768px){
    nav{
        justify-content: center;

    }
}